TELEGRAM_BOT_TOKEN=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=

GEMENI_API_KEY=
UNSPLASH_ACCESS_KEY=
WEATHER_API_KEY=

LM_STUDIO_URL=
LM_STUDIO_MODEL=

METRICS_PORT=
LOG_LEVEL=info
ENV=production

PROMETHEUS_PORT=

GRAFANA_PORT=
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

NODE_EXPORTER_PORT=

LOKI_PORT=
